In [80]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
from credentials import Credentials as cr
import matplotlib as plt
import os
from split import Splitter

splitter = Splitter()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [85]:
valeurs2019 = pd.read_csv(cr.PATH+'2019.txt', sep='|', usecols=['Nature mutation', 'Type local','Code postal','Nombre pieces principales', 'Surface terrain', 'Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot', 'Valeur fonciere'])
valeurs2019.head()

,Nature mutation,Valeur fonciere,Code postal,Surface Carrez du 1er lot,Surface Carrez du 2eme lot,Surface Carrez du 3eme lot,Surface Carrez du 4eme lot,Surface Carrez du 5eme lot,Type local,Nombre pieces principales,Surface terrain
0,Vente,"37220,00",1000.0,"19,27",NaN,NaN,NaN,NaN,Appartement,1.0,NaN
1,Vente,"185100,00",1000.0,NaN,"61,51",NaN,NaN,NaN,Appartement,3.0,NaN
2,Vente,"185100,00",1000.0,NaN,NaN,NaN,NaN,NaN,Dépendance,0.0,NaN
3,Vente,"209000,00",1160.0,NaN,NaN,NaN,NaN,NaN,Maison,4.0,940.0
4,Vente,"134900,00",1370.0,NaN,NaN,NaN,NaN,NaN,Maison,5.0,490.0

In [86]:
nancount = df["Surface terrain"].isna()
print(nancount.sum(), ' valeurs nulles / ', valeurs2019["Surface terrain"].count(), ' valeurs totales.')

792958  valeurs nulles /  1742833  valeurs totales.

In [88]:
valeurs2019.to_csv(cr.CURATED_LOCAL_PATH + 'filtered2019.csv')

In [89]:
splitter.split_datas('filtered2019.csv', 'Nature mutation')

../data/CURATED/Vente.csv
../data/CURATED/Echange.csv
../data/CURATED/Vente terrain à bâtir.csv
../data/CURATED/Vente en l&#39;état futur d&#39;achèvement.csv
../data/CURATED/Adjudication.csv
../data/CURATED/Expropriation.csv

In [90]:
splitter.split_datas('filtered2019.csv', 'Type local')

../data/CURATED/Appartement.csv
../data/CURATED/Dépendance.csv
../data/CURATED/Maison.csv
../data/CURATED/.csv
../data/CURATED/Local industriel. commercial ou assimilé.csv